/*

!.bash_profile
!.bashrc
!.gitignore
!README.md

!.config
.config/*
!.config/alacritty
!.config/conky
!.config/nvim
!.config/picom
!.config/qtile
.config/qtile/__pycache__
!.config/rofi
!.config/yadm
